
@import "node_modules/bootstrap/scss/bootstrap";

.todo-list {
  @include make-container();

  padding: 20px;

  > div {
    @include make-row();
    margin: -10px;

    > * {
      @include make-col-ready();
      padding: 10px;
    }

    > div {
      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(3);
      }
    }
  }
}

.todo-list .card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
