
@import "node_modules/bootstrap/scss/bootstrap";

.todo-list-card {
  @extend .card;

  margin: 25px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.todo-list-card-entries {
  @extend .list-group;
  @extend .list-group-flush;
}

.todo-list-entry {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .content {
    flex-basis: 1px;
    flex-grow: 1;
  }

  > .buttons {
    flex-grow: 0;
  }
}
