
@import "node_modules/bootstrap/scss/bootstrap";

body, html {
  background: #e4effc;
}

div.siteHeader {
    background: #b4cfec;
    color: #102050;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    text-align: right;
    padding: 0 25px;

    h1 {
      margin: 0;
      padding: 14px 0 10px;
      font-weight: 400;
      font-family: 'IM Fell DW Pica', serif;
    }
}
