
$theme-colors: (
  "danger": #d03227,
  "danger-hover": #a01000,
);

// Boostrap: Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.bootstrap-scope.gray-blue {
  $body-bg: #fcfaf1;

  @import "node_modules/bootstrap/scss/bootstrap";
  @import "site.scss";
}

.bootstrap-scope.gray-yellow {
  $body-bg: #fcfaf1;
  $theme-colors: (
    "primary": #cccc22
  );

  @import "node_modules/bootstrap/scss/bootstrap";
  @import "site.scss";
}

.bootstrap-scope.purple {
  $body-bg: #fcfaf1;
  $theme-colors: (
    "primary": #cc22cc
  );

  @import "node_modules/bootstrap/scss/bootstrap";
  @import "site.scss";
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn.btn-link.btn-icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  > * {
    text-decoration: none;
  }

  > i.material-icons,
  > i.material-icons:hover {
    font-size: 18px;
    margin-right: 4px;
    text-decoration: none;
  }
}

.btn.btn-link.btn-icon:hover {
  &.text-danger > *,
  > .text-danger {
    text-shadow: 0px 0px 5px rgba(map-get($theme-colors, "danger-hover"), 0.4);
  }

  > * {
    text-decoration: underline;
  }

  > i.material-icons,
  > i.material-icons:hover {
    text-decoration: none;
  }
}
