
$theme-colors: (
  "danger": #d03227,
  "danger-hover": #a01000,
);

@import "node_modules/bootstrap/scss/bootstrap";

body, html {
  background: #fcfaf1;
}

div.siteHeader {
    background: #fcf4b2;
    color: #30241a;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(126, 122, 89, 0.3);

    text-align: right;
    padding: 0 25px;

    h1 {
      margin: 0;
      padding: 14px 0 10px;
      font-weight: 400;
      font-family: 'IM Fell DW Pica', serif;
    }
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn.btn-link.btn-icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  > * {
    text-decoration: none;
  }

  > i.material-icons,
  > i.material-icons:hover {
    font-size: 18px;
    margin-right: 4px;
    text-decoration: none;
  }
}

.btn.btn-link.btn-icon:hover {
  &.text-danger > *,
  > .text-danger {
    text-shadow: 0px 0px 5px rgba(map-get($theme-colors, "danger-hover"), 0.4);
  }

  > * {
    text-decoration: underline;
  }

  > i.material-icons,
  > i.material-icons:hover {
    text-decoration: none;
  }
}
