

html, body {
  background-color: mix(theme-color("primary"), #fffef9, 2%);
}

.navbar-site {
  background: #fcf4b2;
  background-color: theme-color-level("primary", -11);

  color: #30241a;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(theme-color-level("primary", 3), 0.3);

  .nav-link {
    color: theme-color-level("primary", -3);

    &.active {
      color: theme-color-level("primary", 7);
    }
  }
}
